@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

:root {}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0A0A0A;
}

h1 {
  color: #FFFFFF;
}

hr {
  color: #484848;
}

p {
  color: #C7C7C7;
  font-family: "Manrope", sans-serif;
}

nav {
  margin: 1rem 2rem;
}

.nav-logo {
  font-size: 32px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  color: white;
}

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

width: 100%;
}
.nav-inner a{
  padding-left: 1rem;
  font-size: 16px;
}
.nav-links {

  font-family: "Inter", sans-serif;
}

/* Main */
.Section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.Section-1 #div-1 {}

.Section-1 #div-2 {}


.Section-1 h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 101px;

}

.Section-1 p {
  font-size: 18px;
  width: 544px;
}

.btn-div {}

.Section-1 button {
  background-color: #D3E97A;
  color: black;
  border: none;
  border-radius: 1.5rem;
  height: 54px;
}

#btn-1 {
  padding-left: 1rem;
}

#btn-2,
#btn-3 {
  width: 54px;
  background-color: #222222;
}

/* Semi Section */

#semi-section h1 {
  margin: 3rem 8rem 0;
  font-size: 76px;
  font-family: "Bebas Neue", sans-serif;
}

#semi-section p {
  margin: 1rem 8rem;
}


/* Section 2 */

.Section-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 7rem 0;
}

.Section-2 h3 {
  font-size: 32px;
  color: white;
}

.Section-2 #div-1 {
  margin-left: 15rem;
}

.Section-2 #last-div {
  display: flex;
  flex-direction: row;
}

.Section-2 #last-div p {
  width: 111px;
}

.Section-2 #div-2 {
  width: 576px;
  margin-right: 25rem;
}

/* Section 3 */
.Section-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 7rem 0;
}

.Section-3 h3 {
  font-size: 32px;
  color: white;
}

.Section-3 #div-1 {
  margin-left: 15rem;
}

.Section-3 #last-div {
  display: flex;
  flex-direction: row;
}

.Section-3 #last-div p {
  width: 111px;
}

.Section-3 #div-2 {
  width: 576px;
  margin-right: 25rem;
}

/* Section 4 */

.Section-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 7rem 0;
}

.Section-4 h3 {
  font-size: 32px;
  color: white;
}

.Section-4 #div-1 {
  margin-left: 15rem;
}

.Section-4 #last-div {
  display: flex;
  flex-direction: row;
}

.Section-4 #last-div p {
  width: 111px;
}

.Section-4 #div-2 {
  width: 576px;
  margin-right: 25rem;
}

/* Section 5 */
.Section-5 {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.Section-5 h1 {
  font-size: 101px;
  font-family: "Bebas Neue", sans-serif;
  margin: 3rem 12rem 0 0;
}

.Section-5 .div {
  margin-right: 5rem;
}

.Section-5 h3 {
  font-size: 32px;
  width: 700px;
  margin: 4rem 3rem 0;
  color: white;
}

.Section-5 p {
  font-size: 18px;
  width: 704px;
  margin: 1rem 3rem 2rem;
}

#div-p {
  color: #D3E97A;
  border: 1px solid;
  border-top: #D3E97A;
  border-right: #D3E97A;
  border-left: #D3E97A;
  width: 150px;
  cursor: pointer;
}

.Section-5 img {
  display: none;
}

/* Footer */

footer {
  display: flex;
  gap: 40rem;
}

footer .div-1 {
  text-align: left;
  margin-left: 14rem;
}

footer .div-1 h1 {
  font-size: 76px;
  font-family: "Bebas Neue", sans-serif;
}

footer .div-1 p {
font-size: 18px;
}

footer .div-1 img {
  margin: 1rem 1rem 0 0;
}

#copyright {
  margin-top: 15rem;
}
footer .div-2 {
    margin-right: 0rem;
}
form {
  width: 600px;
  height: 611px;
}

form label {
  color: white;
}

form input {
  width: ;
}