@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

:root {}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0A0A0A;
}
h1{
  color: #FFFFFF;
}
p {
color: #C7C7C7;
}
nav {
  margin: 1rem 2rem;
}

.nav-logo {
  font-size: 32px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  color: white;
}

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  list-style: ;
  font-family: "Inter", sans-serif;
}

/* Main */
.Section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.Section-1 #div-1 {}

.Section-1 #div-2 {}


.Section-1 h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 101px;

}

.Section-1 p {
  font-size: 18px;
  width: 544px;
}

.btn-div {}

.Section-1 button {
  background-color: #D3E97A;
  color: black;
  border: none;
  border-radius: 1.5rem;
  height: 54px;
}

#btn-1 {
  padding-left: 1rem;
}

#btn-2,
#btn-3 {
  width: 54px;
  background-color: #222222;
}

/* Semi Section */

#semi-section h1 {
  margin: 3rem 8rem 0;
  font-size: 76px;
  font-family: "Bebas Neue", sans-serif;
}

#semi-section p {
  margin: 1rem 8rem;
}


/* Section 2 */

.Section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30rem;
  margin: 7rem 0;
}

.Section-2 #div-2{
  width: 576px;
}
.special-div {
  display: flex;
  justify-content: space-between;
}

h3 {
  color: white;
}
/* Section 3 */

.Section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30rem;
  margin: 7rem 0;
}

.Section-3 #div-2{
  width: 576px;
}

/* Section 4 */

.Section-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30rem;
  margin: 7rem 0;
}

.Section-4 #div-2{
  width: 576px;
}

/* Section 5 */
.Section-5 {

}

.Section-5 img {
  display: none;
}